
body {
  background-image: url(../images/coffeebeans.jpg);
  /* background-size: cover;  */
  font-family: 'Poor Story', cursive;
};
.main-area {
  text-align: center;
  align-content: center;
}

#banner {
    background-color: #efbe76!;
    color: saddlebrown!;
}
